<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Seu Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let bolo of bolos">
    <ion-card-content>
      {{ bolo.nome }} - {{ bolo.preco | currency: 'BRL' }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="light">
      <ion-card-title>Dados para entrega</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input placeholder="Seu nome"></ion-input>
      <ion-input placeholder="Telefone"></ion-input>
      <ion-input placeholder="Endereço"></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="confirmarPedido()">confirmar pedido</ion-button>
</ion-content>