<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ bolo.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="bolo.img"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ bolo.nome }} - {{ bolo.preco | currency: 'BRL' }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
     {{ bolo.descricao }}
    </ion-card-content>
  </ion-card>
  <!-- <ion-button  expand="full" [routerLink]="['/paginapagamento',bolo.id]">pedir este bolo</ion-button> -->
  <ion-button  expand="full" (click)="addCarrinho()">pedir este bolo</ion-button>
</ion-content>
